
<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <img src="http://cdn.regeneration.cn/1504970092006.jpeg">
        <span class="card-title black-text "><h3> <%= params['info']['flight_id'] %> 航班价格预测结果 </h3></span>
      </div>
      <div class="card-content">
        <canvas id="myChart" width="800" height="400"></canvas>
      </div>
      <div class="card-action">
        <div class="collection ">
          <a href="#!" class="collection-item black-text"><span class="new badge" data-badge-caption="12月2日 ～ 12月8日"></span>建议购买时间段 : </a>
          <a href="#!" class="collection-item black-text"><span class="new badge" data-badge-caption="75%"></span>在该时间段内，您买到低价票的价格的概率为</a>
          <a href="#!" class="collection-item black-text"><span class="new badge blue" data-badge-caption="¥ 760"></span>航班历史最低价</a>
          <a href="#!" class="collection-item black-text"><span class="new badge blue" data-badge-caption="¥ 1440"></span>航班历史最高价</a>
          <a href="#!" class="collection-item black-text">
            <span class="new badge blue" data-badge-caption="准点率高 : 87%"></span>
            <span class="new badge blue" data-badge-caption="非廉价航班"></span>
            <span class="new badge blue" data-badge-caption="非红眼航班"></span>
            <span class="new badge red" data-badge-caption="经停"></span>
            <span class="new badge red" data-badge-caption="到达时间晚"></span>
            航班标签
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    (function($){
        var data = {
            labels: ["12.1", "12.2", "12.3", "12.4", "12.5", "12.6", "12.7", "12.8", "12.9", "12.10", "12.12", "12.12", "12.13", "12.14", "12.15", "12.16", "12.17", "12.18", "12.19", "12.20", "12.21", "12.22", "12.23", "12.24", "12.25", "12.26", "12.27", "12.28", "12.29", "12.30"],
            datasets: [
                {
                    label: "航班价格",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [1055,1055,818,818,1035,839,839,839,1292,1292,1292,948,1081,948,1210,1210,1210,1210,1299,1291,1299,1299,1299,1074,1280,876,877,1299,1232,1299,1297,1029,927]
                }
            ]
        };
        var ctx = document.getElementById("myChart").getContext("2d");

        var myLineChart = new Chart(ctx, {
            type:'line',
            data: data,
            options: {
                bezierCurve: false
            }
        });
    })(jQuery); // end of jQuery name space
</script>