<% provide(:title, 'All users') %>
<div class="row clearfix" style="padding-top: 30px">
  <aside class="col-md-4 column">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/schedule_status' %>
    </section>
  </aside>
  <div class="col-md-8 column">
    <h3>My current Schedule</h3>
    <section>
        <%= render 'shared/schedule_feed' %>
      </section>
  </div>
</div>