<% provide(:title, 'All users') %>
<div class="row clearfix">
  <div class="col s12 m12 l12 ">
    <h3>我的行程</h3>
    <section>
        <%= render 'shared/schedule_feed' %>
    </section>
  </div>
  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large cyan">
      <i class="large material-icons">toc</i>
    </a>
    <ul>
      <li><a id="roll_back" class="btn-floating green"><i class="material-icons">publish</i></a></li>
    </ul>
  </div>
</div>

<script>
// schedule_feed
  $("#roll_back").click(function() {
    var items = $("li[id^=schedule_item_]");
    var pos = document.documentElement.scrollTop;
    var near_item = items[0];
  
    for (var i = 0; i < items.length; i++){
      if (items[i].offsetTop < pos + 50){
        near_item = items[i];
      }
    }

    $("html, body").animate({
        scrollTop: near_item.offsetTop - 50
      }, 
      {
        duration: 300,easing: "swing"
      });
      return false;
  });
</script>
