<% provide(:title, 'All users') %>
<div class="row clearfix">
  <div class="col s12 m12 l12 ">
    <h3>My Schedule</h3>
    <section>
        <%= render 'shared/schedule_feed' %>
    </section>
  </div>
</div>
