<% if object.errors.any? %>
  <div id = "error_explanation">
    <div class="card-panel red lighten-1">
      <span class="white-text">表单包含 <%= pluralize(object.errors.count, "个错误") %>.
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </span>
   </div>
  </div>
<% end %>
