<div id="flight-card" class="card">
  <div class="card-header amber darken-2">
    <div class="card-title">
      <div class="container">
        <h5 class="flight-card-title">Flight</h5>
        <h6 class="flight-card-date">June 18, Thu 04:50</h6>
      </div>
    </div>
  </div>
  <div class="card-content-bg grey-text">
    <div class="card-content">
      <div class="row flight-state-wrapper">
        <div class="col s5 m5 l5 center-align">
          <div class="flight-state">
            <h4 class="margin">LDN</h4>
            <p class="ultra-small">London</p></div>
        </div>
        <div class="col s2 m2 l2 center-align">
          <i class="mdi-device-airplanemode-on flight-icon"></i>
        </div>
        <div class="col s5 m5 l5 center-align">
          <div class="flight-state">
            <h4 class="margin">SFO</h4>
            <p class="ultra-small">San Francisco</p></div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m6 l6 center-align">
          <div class="flight-info">
            <p class="small">
              <span class="grey-text text-lighten-4">Depart:</span>04.50</p>
            <p class="small">
              <span class="grey-text text-lighten-4">Flight:</span>IB 5786</p>
            <p class="small">
              <span class="grey-text text-lighten-4">Terminal:</span>B</p></div>
        </div>
        <div class="col s6 m6 l6 center-align flight-state-two">
          <div class="flight-info">
            <p class="small">
              <span class="grey-text text-lighten-4">Arrive:</span>08.50</p>
            <p class="small">
              <span class="grey-text text-lighten-4">Flight:</span>IB 5786</p>
            <p class="small">
              <span class="grey-text text-lighten-4">Terminal:</span>C</p></div>
        </div>
      </div>
    </div>
  </div>
</div>