<% @user ||= current_user %>
<div class="card-panel green lighten-5" id = "status">

<div class="stats">
  <section>
  	总计 <%= @user.schedules.count %> 个行程： 
  </section>
  <section>
  	<%= @user.status_count(0)%> 正在计算中
  </section>
  <section>
  	<%= @user.status_count(1)%> 已完成
  </section>

</div>
</div>
