<div class="card-panel green lighten-5">
<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    关注
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    粉丝
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
</a> 
</div>
</div>
