<% if object.success.any? %>
  <div id = "success_explanation">
    <div class="card-panel green">
      <span class="white-text">The form contains <%= pluralize(object.success.count, "success") %>.
        <% object.success.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </span>
   </div>
  </div>
<% end %>
