<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <small>
        Based on Michael Hartl's
        <a href="http://railstutorial.org/">Rails Tutorial</a>
        <br>
        <br>
        <br>
        <br>
      </small>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Modified by Quinn
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
    </div>
  </div>
</footer>