<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <small>
        联系网站开发者以获取帮助
        <a href="https://github.com/Moonlor/FCSQ">Github Repository</a>.
        <br>
        <br>
        <br>
        <br>
      </small>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      by Quinn Batu Yang
      <ul>
        <li><%= link_to "关于我们",   about_path %></li>
        <li><%= link_to "联系我们", contact_path %></li>
        <li><a href="https://github.com/Moonlor/FCSQ">最新动态</a></li>
      </ul>
    </div>
  </div>
</footer>
