<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <small>
        Get help by contacting the develper
        <a href="https://github.com/Moonlor/FCSQ">Github repository</a>.
        <br>
        <br>
        <br>
        <br>
      </small>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      by Quinn Batu Yang
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="https://github.com/Moonlor/FCSQ">News</a></li>
      </ul>
    </div>
  </div>
</footer>